runtime: python
env: flex

basic_scaling:
  max_instances: 1
  idle_timeout: 10m

env_variables:
  DATABASE_URL: "$DATABASE_URL"
  SECRET_KEY: "$SECRET_KEY"
  CORS_ORIGIN_WHITELIST: "$CORS_ORIGIN_WHITELIST"
  LOGGING_LEVEL: "$LOGGING_LEVEL"
  LOGGING_FILE: "$LOGGING_FILE"
  LOGGING_FORMAT: "$LOGGING_FORMAT"
