/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
 
.ag-theme-quartz-dark {
    --ag-accent-color: #42B983;
    --ag-background-color: #1f2836;
    --ag-foreground-color: #FFF;
    --ag-header-font-size: 14px;

   --ag-header-background-color: color-mix(in srgb, var(--ag-foreground-color) 7%, var(--ag-background-color));

    --ag-odd-row-background-color: #253040;
    --ag-row-hover-color: #303f52;
}